@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
/* Change default margin, padding and border to 0 and none */
* {
    margin: 0;
    padding: 0;
    border: none;
  }
  
  /* Style body and headers */
  body {
    font-weight: 500;
    color: #151311;
    background-color: #007663;
    font-family: 'Teko', sans-serif;
  }

  /*Header*/

header{
    text-align: center;
}

li, a{
  display:inline-block;
  text-decoration: none;
}

li{
  padding: 10px;
}

li a{
  padding: 5px;
  font-size: 18pt;
  background-color: #C3FCF2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*Container carrousel*/
#container{
    background-color: aquamarine;
    height: 500px;
    width: 95vw;
    max-width: 650px;
    margin: auto ;
    overflow: hidden;
    border-radius: 15px;
    box-shadow:rgba(240, 46, 170, 0.4) 0px 0px 0px 6px, rgba(240, 46, 170, 0.3) 0px 0px 0px 12px,rgba(240, 46, 170, 0.2) 0px 0px 0px 18px, rgba(240, 46, 170, 0.1) 0px 0px 0px 24px,  rgba(240, 46, 170, 0.05) 0px 0px 0px 30px;
}


/* Style the sections slides */
#slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior:smooth;
    
  }
  
  #slides>section,
  #slides>div {
    position: relative;
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 95vw;
    max-width: 650px;
    height: 500px;
    border-radius: 10px;
    background: #ffffff;
    
  }
  
  
/* Game section*/
#game-section{
  text-align: center;
  font-size: 14pt;
}

#enemy{
  margin-top: 5px;
  
}

#user-area{
 margin-top: 25px;
}

#result-area{
  margin-top: 50px;
}

/* Icons*/
.game-button{
  background-color: transparent;

 
  margin: 15px 15px 15px 0;

  font-size: 25px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.game-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


.display-weapons{
  font-size: 200%;

  color:blue;
}


/*Health bar  code:https://css-tricks.com/html5-progress-element/*/
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 15px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*Pop ups:*/
/*Pop up rules*/

.close-popup{
  clear:both;
  position:absolute;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

#rules-image{
  height: 300px;
}

#game-rules{
  visibility: hidden;
  position:absolute;
  top: 20%;
  left:10%;
  z-index: 1;
  border-radius: 15px;
  background-color: #555;
  color: #fff;
  text-align: center;
  height: 350px;
  width:80%;
  }

#close-game-rules{
  width:20%;
  left: 40%;
  bottom: 10px;
}

/*Game outcome pop up*/
#game-result{
  visibility: hidden;
  position:absolute;
  top: 5%;
  left:5%;
  z-index: 1;
  border-radius: 15px;
  background-color: #555;
  color: #fff;
  text-align: center;
  height: 90%;
  width: 90%
}

#result-message{
  position: absolute;
  top:40%;
  width:30%;
  left: 35%;
  text-align: center;
  font-size: 24pt;
}

#close-game-result{
  position: absolute;
  width:30%;
  left: 35%;
  bottom: 15px;
  height: 50px;
  font-size: 16pt;
}

/*Feedback section*/
#feedback-section{
  text-align: center;
}

.input-form {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 5px;
  background-color:#649B92;
  padding: 10px 0 10px 0;
  width:50%;
  margin:10px 0 10px 0;
 }

 label{
  padding: 10px 0 10px 0;
  
  clear: both;
 }
